.container {
    height: 100%;
    background-color: inherit;
    display: none;
}

.activated {
    height: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}