body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #4a4848;
    height: 50px;
    align-items: center;
}

.bottoms{
    display: flex;
    align-items: center;
}

.singlButton{
    border: 0;
    padding: 0;
    background-color: #4c4848;
    height: 41px;
    width: 70px;
    color: white;
}
.snake{
    width: 35px;
}

.findInput{
    /* background-color: #9d9999; */
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    border: 0;
    color: white;
    padding: 0;
    width: 80%;
}
.searchMenu{
    width: 500px;
}
.findButton{
    border: 0;
    width: 70px;
    height: 30px;
    background-color: #5e5a5a;
    border-radius: 5px;
    color: white;
}
.main{
    margin-top: 50px;
    display: flex;
    
}
