.container {
    min-width: 200px;
    width: 55%;
    display: flex;
    align-items: center;
    background-color: inherit;
}

.input {
    width: 90%;
    height: 40px;
    padding: 0 20px;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
}

.input:not(:placeholder-shown) ~ .clean {
    display: block;
}

.input:not(:placeholder-shown) {
    width: 80%;
}

.clean {
    min-width: 40px;
    width: 10%;
    height: 40px;
    cursor: pointer;
    display: none;
}

.clean img {
    height: 100%;
}

.submit {
    width: 10%;
    min-width: 50px;
    height: 40px;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    overflow: hidden;
}

.submit img {
    height: 100%;
}